<style>
body {
min-width: 100%;
}

#apply {
margin-left: -8px;
margin-top: -8px;
width: 100%;
height: 164vh;
background-color: black;
color: white;
}

#apply h1{
margin-top: -6px;
}

#apply input{
padding: 10px;
width: 400px;
font-size: 16px;
}

#apply button{
padding: 10px;
width: 130px;
}
#button2{
   background: red;
   display: none;
 }
@media (max-width: 745px) {

#apply {
margin-left: -25px;
scale: 0.85;
height: 196.8vh;
margin-top: -30px;
font-size: 12px;
}

#apply h1{
margin-bottom: 21px;
}
#apply button{
margin-top: -13px;
width: 70px;
scale: 0.8;
}
  #button1, input{
    display: none;
  }
  
  #button2{
    display: block;
  }



#apply input{
margin-top: -22px;
width: 150px;
scale: 0.8;
}

#apply p{
font-size: 5px;
}
}
</style>

<script>
parent.document.getElementsByTagName("iframe")[0].scrolling = "no";
</script>

<div id="apply">
<br>
<center><h1>Input Test</h1></center>
<center><input></input></center>
<br>
<center><button id="button1">Button</button><center>
<center><button id="button2">Button2</button>
</div>